* {
  box-sizing: border-box;
}
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}

.box {
  width: 644px;
  height: 39px;
  background: #f9fafc 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.box--title {
  padding-left: 10px;
}

ul {
  font-size: 14px;
}

/* Column-Left */
.logo {
  height: 40px;
  width: 140px;
}

.photo {
  width: 247px;
  padding-bottom: 10px;
}

/* Column-Right */
.col-4 {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
}

.col-8 {
  height: 100vh;
  padding: 40px 200px;
}

.form-group {
  color: #464646 !important;
  font-size: 12px;
}

form {
  color: #464646 !important;
}

input {
  background: #f9fafc 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}
